@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar styles */
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling of the entire document */
}

.container {
  height: 75vh; 
  overflow-y: auto; 
  overflow-x: auto; 
  padding: 5px; 
  box-sizing: border-box; 
  min-width: 100%;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;    
  padding: 10px 20px;
  border-radius: 20px;
  }
  .box-shadow-custom{
    box-shadow: 5px 5px 10px #b7c6d4, -5px -5px 10px #ffffff;

  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  } 
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: #d7e1eb;
    box-shadow: 5px 5px 10px #b7c6d4, -5px -5px 10px #ffffff;
  }
  
  .action-btn {
    background-color: #d7e1eb;
    color: #4b5563;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #b7c6d4, -5px -5px 10px #ffffff;
  }
  
  .bg-morning {
    background-color: #FFF4E3; 
  }
  
  .bg-afternoon {
    background-color: #C9E6FF; 
  }
  
  .bg-evening {
    background-color: #FFD6A5; 
  }
  
  .bg-night {
    background-color: #333333; 
  }

  .text-morning-text {
    color: #000; 
  }
  
  .text-afternoon-text {
    color: #333; 
  }
  
  .text-evening-text {
    color: #666; 
  }
  
  .text-night-text {
    color: #999; 
  }